<div class="text-center">
  <div>
    <img src="images/icon_23936.png" width="250px" height="250px" alt="Scrum">
  </div>
  <div class="logo">
    Firepoker
  </div>
  <div class="lead">
    <p>Planning poker® is een soort spelletje dat mensen in de softwarewereld
      spelen om te raden hoe moeilijk een taak is. Ze doen dit door kaartjes met 
      nummers erop op tafel te leggen zonder de cijfers hardop te zeggen. 
      Daarna worden de kaartjes omgedraaid en praten ze erover. Op deze manier proberen ze te voorkomen 
      dat ze zich te veel laten beïnvloeden door wat iemand als eerste zegt. 
      Het is een manier om eerlijk te raden hoe lang iets duurt om te doen.
      </p>
  </div>
  <div class="call">
    <p><a href="#/games/new" class="btn btn-default btn-lg">Start nu</a></p>
  </div>
</div>